<!DOCTYPE html>
<html>
  <head>
    <%- include("../../parts/head.ejs"); %>
  </head>
  <body>
    <%- include('../../parts/header.ejs'); %>
    <main>
      <ul class="list">
        <li>
          <h2><%= locals.username %></h2>
          <p><%= locals.email %></p>
          <form action="/change-status" method="POST">
            <input type="submit" value="<%= locals.status %>" />
          </form>
        </li>
      </ul>
    </main>
  </body>
</html>
